{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}

    {% if not user.is_authenticated %}
        <div class="container" style="margin-top:30px">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
                <div class="panel-body">
                    <form method="post" action="{% url 'account.views.register' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username or Email</label>
                            <input type="text" class="form-control" name="username" id="" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" class="form-control" id="" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" class="form-control" id="" placeholder="Password2">
                        </div>
                        <button type="submit" class="btn btn-sm btn-default">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
       <div style="position: relative; top: 350px">
        {% if errors %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
        </div>

    {% else %}
        <div class="alert alert-warning">You are already registered</div>
    {% endif %}

{% endblock %}
