{% extends 'base.html' %}
{% block title %} Charts samples one {% endblock %}
{% block content %}

    <div id="chart1" style="margin-top:20px; margin-left:20px; width:1024px; height:300px; margin-bottom: 250px"></div>

    <script class="code" type="text/javascript">
        $(document).ready(function(){


                var line1 = [{% for p in products %}
                    {% if forloop.last %}
                        ['{{ p.name }}', {{ p.name__count }}]
                    {% else %}
                        ['{{ p.name }}', {{ p.name__count }}],
                    {% endif %}
                {% endfor %}];

            var plot1 = $.jqplot('chart1', [line1], {
                title: 'Promotions vs. Product Name',
                series:[{renderer:$.jqplot.BarRenderer}],
                axesDefaults: {
                    tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                    tickOptions: {
{#                        angle: -30,#}
                        fontSize: '10pt'
                    }
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer
                    }
                }
            });
        });
    </script>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jqplot/jquery.jqplot.min.css" />

    <script class="include" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/examples/syntaxhighlighter/scripts/shCore.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/examples/syntaxhighlighter/scripts/shBrushJScript.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/examples/syntaxhighlighter/scripts/shBrushXml.min.js"></script>

    <script class="include" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script class="include" type="text/javascript" src="{{ MEDIA_URL }}js/jqplot/plugins/jqplot.pointLabels.min.js"></script>




{#    <h1>Total products: <b>{{ c }}</b></h1>#}

    {{ products }}

    <br/>
{% for p in products %}
    {{ p.product }} - {{ p.product__count}}<br/>
{% endfor %}


    {{ c }}

{##}
{#    var line1 = [{% for p in products %}#}
{#        {% if forloop.last %}#}
{#            ['{{ p.name }}', {{ p.name__count }}]#}
{#        {% else %}#}
{#            ['{{ p.name }}', {{ p.name__count }}],#}
{#        {% endif %}#}
{#    {% endfor %}];#}


{% endblock %}