{% extends 'base.html' %}
{% block title %} {{ product.name }}{% endblock %}
{% block content %}
    <ol class="breadcrumb">
      <li><a href="{% url 'products.views.index' %}">Home</a></li>
      <li><a href="{% url 'products.views.charts' %}">All charts</a></li>
      <li class="active">{{ product.name }}</li>
    </ol>
    <h1>{{ product.name }}</h1>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Brand</th>
            <th>Retailer</th>
            <th>Product Category</th>
            <th>Subcategory</th>
            <th>Sub-Subcategory</th>
            <th>Active</th>
            <th>Deactivation Date</th>
            <th>Quantity</th>
            <th>Unit of measure</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.retailer }}</td>
            <td><a href="/category/{{ product.category.id }}/">{{ product.category }}</a></td>
            <td>{{ product.subcategory }}</td>
            <td>{{ product.subsubcategory }}</td>
            <td>{{ product.active }}</td>
            <td>{{ product.deactivation }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.unit_of_measure }}</td>
            <td><a href="{{ product.url }}" class="glyphicon glyphicon-share-alt"></a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}