<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/datepicker.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap-datepicker.js"></script>

    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}css/theme.jui.css"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}css/jquery.tablesorter.pager.css"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.pager.js"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block extrahead %} {% endblock %}
</head>
<body>
    <div class="container">
        <div class="row">
        {% if not user.is_authenticated %}
            <nav class="navbar" role="navigation">
                <button type="button" class="btn btn-default navbar-btn" id="login">Sign in</button>
            </nav>
        {% else %}

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">PPPINTEL</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
{#                            <li class="active"><a href="#">Main</a></li>#}
                            <li><a href="{% url 'products.views.price_analyses' %}">Prices Analyses</a></li>
                            <li><a href="/">Promotion Analyses</a></li>
                            <li><a href="/">Assortment Analyses</a></li>
                            <li><a href="/">Retailer News</a></li>
{#                            <li><a href="/categories/">Categories</a></li>#}
{#                            <li><a href="{% url 'products.views.charts' %}">Charts</a></li>#}
{#                            <li class="dropdown">#}
{#                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pie Charts <span class="caret"></span></a>#}
{#                                <ul class="dropdown-menu" role="menu">#}
{#                                    <li><a href="/piebrand/">By brand</a></li>#}
{#                                    <li><a href="/piecategory/">By category</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li style="padding-top: 8px;">#}
{#                                <button id='search' type="button" class="btn btn-primary">Search by dates</button>#}
{#                            </li>#}
                        </ul>
{#                        <form class="navbar-form navbar-left" role="search" action="/search/">#}
{#                            <div class="form-group">#}
{#                                <input type="text" class="form-control" placeholder="Search" name="q">#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-default">Submit</button>#}
{#                        </form>#}

                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <b>{{ user.username }}</b> <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">

                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/account/logout/">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

        {% endif %}
        <div class="col-md-12">
            <div class="col-md-2 pull-left">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="{% url 'products.views.price_analyses' %}">Prices Analyses</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Promotion Analyses<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'products.views.promoanalyses_brand' %}">By brand</a></li>
                            <li><a href="{% url 'products.views.promoanalyses_category' %}">By category</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assortment Analyses<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/piebrand/">By brand</a></li>
                            <li><a href="/piecategory/">By category</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 pull-right">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#login').click(function(){
                window.location = '/account/login/';
            });
            $('#search').click(function(){
                window.location = '/datesearch/';
            })
        })
    </script>
</body>
</html>